h1{
	color: #EA4646;
}
h2{
	color:#7965C5;
}
h3{
	color:#5DDC81;
}
.colorP1{
	color:#E29C9C;
}
.colorP2{
	color:#4A82C8;
}
.colorP3{
	color:#47BCA7;
}
.colorP4{
	color:#86D849;
}
.colorP5{
	color:#C9E57C;
}
.colorP6{
	color:#D8AE3B;
}
.colorP7{
	color:#887FFF;
}